.moviesCardList {
    max-width: 1140px;
    padding: 70px 70px 0;
    margin: 0 auto;
}

.moviesCardList__grid {
    margin: 0;
    padding: 0 0 30px;
    display: grid;
    row-gap: 30px;
    column-gap: 24px;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
}

.moviesCardList__button-more {
    width: 100%;
    height: 36px;
    margin: 50px 0 80px;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background-color: #F9F9F9;
    border-radius: 6px;
    border: none;
}

@media screen and (max-width: 1279px) {
    .moviesCardList {
        padding: 5.47vw 5.47vw 0;
    }
    
    .moviesCardList__grid {
        padding: 0 0 2.34vw;
        display: grid;
        row-gap: 2.34vw;
        column-gap: 1.875vw;
    }
    
    .moviesCardList__button-more {
        height: 2.81vw;
        margin: 3.91vw 0 6.25vw;
        font-size: 0.94vw;
        line-height: 1.172vw;
    }
}

@media screen and (max-width: 768px) {
    .moviesCardList {
        padding: 9.12vw 3.91vw 0;
    }
    
    .moviesCardList__grid {
        padding: 0 0 3.91vw;
        row-gap: 4.69vw;
        column-gap: 3.91vw;
        grid-template-rows: max-content;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
    }
    
    .moviesCardList__button-more {
        height: 4.69vw;
        margin: 6.51vw 0 10.42vw;
        font-size: 1.56vw;
        line-height: 1.953vw;
    }
}

@media screen and (max-width: 320px) {
    .moviesCardList {
        padding: 12.5vw 3.125vw 0;
    }
    
    .moviesCardList__grid {
        padding: 0 0 9.38vw;
        row-gap: 5vw;
        grid-template-rows: max-content;
        grid-template-columns:  min-content;
    }
    
    .moviesCardList__button-more {
        height: 11.25vw;
        margin: 15.625vw 0 25vw;
        font-size: 3.75vw;
        line-height: 4.69vw;
    }
}


.moviesCardList__button-more:hover {
    opacity: 0.6;
    cursor: pointer;
}