.pageNotFound {
    margin: 246px auto 60px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageNotFound__name {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
}

.pageNotFound__description {
    margin: 40px 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.pageNotFound__button-back {
    margin: 184px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3456F3;
    border: none;
    background-color: inherit;
}

@media screen and (max-width: 768px) {
    .pageNotFound {
        margin: 408px auto 222px;
    }
}

@media screen and (max-width: 320px) {
    .pageNotFound {
        margin: 329px auto 30px;
    }
    
    .pageNotFound__name {
        font-size: 80px;
        line-height: 97px;
    }
    
    .pageNotFound__description {
        margin: 30px 0;
        font-size: 12px;
        line-height: 15px;
    }
    
    .pageNotFound__button-back {
        margin: 284px 0;
        font-size: 12px;
        line-height: 15px;
    }
}



.pageNotFound__button-back:hover {
    opacity: 0.6;
    cursor: pointer;
}