.header {
    background-color: #073042;
}

.header__border {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    margin: auto;
}

.header__main {
    display: flex;
    height: 74px;
    justify-content: space-between;
}

.header__logo {
    width: 100%;
    max-width: 38px;
    max-height: 38px;
    align-self: center;
}



.header__main-buttons {
    margin: 0;
    padding: 0 0 0 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.header__films {
    margin: 0;
    padding: 0;
    display: flex;
    flex: row;
    gap: 16px;
}

.header__film-button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.header__seva-film-button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.header__accaunt-button {
    width: 100px;
    height: 32px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #F9F9F9;
    border: none;
}

.header__hidden-menu {
    display: none;
    align-self: center;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-image: url(../../images/hidden-menu.png);  
}

.header__landing-buttons {
    display: flex;
    align-items: center;
}

.header__registr-button {
    color: #fff;
    border: none;
    font: inherit;
    background: inherit;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: right;
}

.header__signin-button {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    background: #2BE080;
    border-radius: 3px;
    width: 76px;
    height: 32px;
    border: none;
    margin-left: 30px;
}

@media screen and (max-width: 1279px) {
    .header__border {
        padding: 0 5.47vw;
        }
    }

@media screen and (max-width: 768px) {
    .header__border {
        padding: 0 3.91vw;
        }

    .header__main-buttons {
        display: none;
    }

    .header__hidden-menu {
        width: 44px;
        height: 44px;
        display: inline;  
    }

    }

@media screen and (max-width: 320px) {
    .header__border {
        padding: 0 10px;
    }

    .header__main {
        padding: 0 4px;
    }

    .header__registr-button {
    font-size: 10px;
    }

    .header__hidden-menu {
        width: 40px;
        height: 43px; 
    }

    .header__signin-button {
        font-size: 10px;
        width: 54px;
        height: 26px;
        border: none;
        margin-left: 14px;
    }
    }

.header__registr-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__signin-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header_background-color_white {
    background-color: #fff;
}

.header__hidden-menu:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__film-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__seva-film-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__accaunt-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__logo:hover {
    opacity: 0.6;
    cursor: pointer;
}
