.aboutMe {
    max-width: 1140px;
    margin: 0 auto;
    padding: 90px 50px 0;
    display: grid;
    grid-template-rows: 51px 66px 58px 38px 114px 117px;
    grid-template-columns: 600px 270px;
    column-gap: 270px;
    align-items: end;
    grid-template-areas: 
    "student student"
    ". ."
    "name photo"
    "profession photo"
    "description photo"
    "social photo";
}

.aboutMe__name {
    grid-area: student;
}

.aboutMe__name-student {
    margin: 0;
    grid-area: name;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.aboutMe__profession {
    grid-area: profession;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    mix-blend-mode: normal;
}

.aboutMe__text-descriptions {
    grid-area: description;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;
}

.aboutMe__social-list {
    grid-area: social;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.aboutMe__social-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    list-style-type: none;
}

.aboutMe__photo {
    grid-area: photo;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.aboutMe__social-item:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .aboutMe {
        padding: 7.04vw 3.91vw 0;
        grid-template-rows: 3.99vw 5.16vw 4.53vw 2.97vw 8.91vw 9.15vw;
        grid-template-columns: 46.9vw 21.11vw;
        column-gap: 21.11vw;
    }
    
    .aboutMe__name-student {
        font-size: 3.91vw;
        line-height: 4.54vw;
    }
    
    .aboutMe__profession {
        font-size: 1.41vw;
        line-height: 1.56vw;
    }
    
    .aboutMe__text-descriptions {
        font-size: 1.095vw;
        line-height: 1.72vw;
    }
    
    .aboutMe__social-list {
        gap: 1.56vw;
    }
    
    .aboutMe__social-item {
        font-size: 1.095vw;
        line-height: 1.33vw;
    }
}

@media screen and (max-width: 768px) {
    .aboutMe {
        padding: 11.71vw 6.51vw 0;
        grid-template-rows: 6.64vw 8.59vw 5.21vw 4.43vw 16.67vw 13.67vw;
        grid-template-columns: 47.4vw 33.2vw;
        column-gap: 6.4vw;
    }
    
    .aboutMe__name-student {
        font-size: 5.21vw;
        line-height: 5.21vw;
    }
    
    .aboutMe__profession {
        font-size: 1.56vw;
        line-height: 2.34vw;
    }
    
    .aboutMe__text-descriptions {
        font-size: 1.56vw;
        line-height: 2.34vw;
    }
    
    .aboutMe__social-list {
        gap: 2.61vw;
    }
    
    .aboutMe__social-item {
        font-size: 1.82vw;
        line-height: 2.21vw;
    }
}

@media screen and (max-width: 550px) {
    .aboutMe {
        padding: 21.88vw 4.38vw 0;
        display: flex;
        flex-direction: column;
        align-items: inherit;
    }

    .aboutMe__name {
        order: -2;
    }
    
    .aboutMe__name-student {
        margin-top: 12.5vw;
        font-size: 9.38vw;
        line-height: 11.25vw;
    }
    
    .aboutMe__profession {
        margin-top: 6.25vw;
        font-size: 3.44vw;
        line-height: 5vw;
    }
    
    .aboutMe__text-descriptions {
        margin-top: 6.25vw;
        font-size: 3.44vw;
        line-height: 5vw;
    }
    
    .aboutMe__social-list {
        margin-top: 12.5vw;
        gap: 8.125vw;
    }
    
    .aboutMe__social-item {
        font-size: 4.375vw;
        line-height: 5.31vw;
    }

    .aboutMe__photo {
        margin-top: 18.75vw;
        order: -1;
    }
}

@media screen and (max-width: 320px) {
    .aboutMe {
        padding: 21.88vw 4.38vw 0;
        display: flex;
        flex-direction: column;
        align-items: inherit;
    }

    .aboutMe__name {
        order: -2;
    }
    
    .aboutMe__name-student {
        margin-top: 12.5vw;
        font-size: 9.38vw;
        line-height: 11.25vw;
    }
    
    .aboutMe__profession {
        margin-top: 6.25vw;
        font-size: 3.44vw;
        line-height: 5vw;
    }
    
    .aboutMe__text-descriptions {
        margin-top: 6.25vw;
        font-size: 3.44vw;
        line-height: 5vw;
    }
    
    .aboutMe__social-list {
        margin-top: 12.5vw;
        gap: 8.125vw;
    }
    
    .aboutMe__social-item {
        font-size: 4.375vw;
        line-height: 5.31vw;
    }

    .aboutMe__photo {
        margin-top: 18.75vw;
        order: -1;
    }
}